<div class="listBox position">
    <div style="width:100%;height:50px;">
        <div style="width:600px; float:left">
            <div style="width:260px;float:left">
                <el-date-picker [(model)]="sTime" placeholder="请输入开始日期" [format]="'yyyy-MM-dd'">
                </el-date-picker>
            </div>
            <div style="width:300px;float:left">
                <el-date-picker [(model)]="eTime" placeholder="请输入结束日期" [format]="'yyyy-MM-dd'">
                </el-date-picker>
            </div>


        </div>
        <div style="width:200px;float:right; ">
          
            <el-button (click)="showExport()" type="primary">{{exportTtile}}</el-button>
            <!--弹出导出窗体-->
            <el-dialog [title]="exportTtile" width="300px" [(visible)]="exportStatus">
                <div style="  text-align:center">
                    <div style="height:30px;">
                        <el-radio class="radio" *ngFor='let item of exportType' [(model)]="exportModel"
                            label="{{item}}">{{item}}</el-radio>
                    </div>
                    <div style="height:30pxl;margin-top:20px">
                        <el-button type="primary" (click)='onExport()'>确认</el-button>
                    </div>
                </div>
            </el-dialog>
            <!--导出窗体结束-->
            <el-button type="primary" style="margin-left:30px" (click)="onSearch()" [(loading)]="successStatus" icon="search">搜索</el-button>
            <el-button type="primary" icon="el-icon-document">复制</el-button>
        </div>
    </div>
    <table>
        <tr class="table-head">

            <th style="width:70px">序号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>邮箱</th>
            <th>电话</th>

            <th>时间</th>
        </tr>
    </table>

    <div class="tableContent">
        <div class="containerDiv">
            <table *ngIf="tableData.length==0">
                <tr>
                    无数据
                </tr>
            </table>
            <table *ngIf="tableData.length>0">
                <tr>
                    <td>

                    </td>
                    <td>
                        <el-input [(model)]="searchUser" placeholder="请输入用户名" *ngIf="true" style="width:30px">
                        </el-input>
                    </td>
                    <td>
                        <el-input [(model)]="searchSex" placeholder="请输入性别" *ngIf="true" style="width:30px">
                        </el-input>
                    </td>
                    <td>
                        <el-input [(model)]="searchMail" placeholder="请输入邮箱" *ngIf="true" style="width:30px">
                        </el-input>
                    </td>
                    <td>
                        <el-input [(model)]="searchPhone" placeholder="请输入电话" *ngIf="true" style="width:30px">
                        </el-input>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr *ngFor="let item of tableData">
                    <td style="width:70px">{{item.id}}</td>
                    <td style="width:270px">{{item.name}}</td>
                    <td style="width:270px">{{item.sex}}</td>
                    <td style="width:270px">{{item.mail}}</td>
                    <td style="width:270px">{{item.phone}}</td>

                    <td style="width:270px">{{item.date}}</td>
                </tr>

            </table>
        </div>
        <div style="  text-align: center ">

            <ul class="list" style="list-style:none  ">

                <li style="height:50px;text-align: center ">

                    <el-pagination id="page" [(model)]="page" (modelChange)="pageChange()" [(total)]="total"
                        [(page-size)]="pageSizeTest" [page-sizes]="pagesizes"
                        [layout]="['prev','pager', 'next', 'jumper',  'total']">
                    </el-pagination>

                </li>
            </ul>

        </div>
    </div>
</div>