<?xml version="1.0"?>
<connectionStrings>
  <add name="SyncDBEngineeringData_R" connectionString="metadata=res://*/Data.EngineeringData_R.csdl|res://*/Data.EngineeringData_R.ssdl|res://*/Data.EngineeringData_R.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alta-oak-mesdb1;initial catalog=EngineeringData_R;persist security info=True;user id=dtech_reader;password=dtech_reader;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
