<div style="height:780px;width:1800px;margin-left:30px" [el-loading]="loadStatus" [text]="'拼命加载中'">
    <div style="width:100%;height:50px;">
        <div style="width:600px; float:left">
            <div style="width:260px;float:left">
                <el-date-picker [(model)]="sTime" placeholder="请输入开始日期" [format]="'yyyy-MM-dd'">
                </el-date-picker>
            </div>
            <div style="width:300px;float:left">
                <el-date-picker [(model)]="eTime" placeholder="请输入结束日期" [format]="'yyyy-MM-dd'">
                </el-date-picker>
            </div>


        </div>
        <div style="width:400px;float:right; ">
            <el-button type="primary" icon="edit"></el-button>
            <el-button type="primary" icon="share"></el-button>
            <el-button (click)="showExport()" type="primary">{{exportTtile}}</el-button>
            <!--弹出导出窗体-->
            <el-dialog [title]="exportTtile" width="300px" [(visible)]="exportStatus">
                <div style="  text-align:center">
                    <div style="height:30px;">
                        <el-radio class="radio" *ngFor='let item of exportType' [(model)]="exportModel"
                            label="{{item}}">{{item}}</el-radio>
                    </div>
                    <div style="height:30pxl;margin-top:20px">
                        <el-button type="primary" (click)='onExport()'>确认</el-button>
                    </div>
                </div>
            </el-dialog>
            <!--导出窗体结束-->
            <el-button type="primary" (click)="onSearch()" [(loading)]="successStatus" icon="search">搜索</el-button>
            <el-button type="primary">上传<i class="el-icon-upload el-icon--right"></i></el-button>
        </div>
    </div>
    <div style=" width:1850px">

        <el-table [model]="tableData" [stripe]="true" [border]="true">
            <el-table-column model-key="UserName" label="姓名">
            </el-table-column>
            <el-table-column model-key="gender" label="性别">
            </el-table-column>
            <el-table-column model-key="departmentSeq" label="部门">
            </el-table-column>
            <el-table-column model-key="email" label="邮箱">
            </el-table-column>
            <el-table-column model-key="jobtitle" label="职称">
            </el-table-column>
            <el-table-column model-key="language" label="语言">
            </el-table-column>
            <el-table-column model-key="mobile" label="手机号">
            </el-table-column>
            <el-table-column model-key="remark" label="备注">
            </el-table-column>

            <el-table-column width="200" label="进度">
                <ng-template #slot let-scope="scope">
                    <el-progress [text-inside]="true" [stroke-width]="18"
                        [status]="scope.rowData.pro<60?(scope.rowData.pro<40?'exception':''):'success' "
                        [percentage]=" scope.rowData.pro"></el-progress>
                </ng-template>
            </el-table-column>
            <el-table-column label="操作">
                <ng-template #slot let-scope="scope">
                    <el-button type="success" (click)="onSave(scope)">启用</el-button>
                </ng-template>
            </el-table-column>
            <el-table-column label="操作">
                <ng-template #slot let-scope="scope">
                    <el-button type="danger" (click)="onDel(scope)">删除</el-button>
                </ng-template>
            </el-table-column>

        </el-table>
        <div style="  text-align: center ">

            <ul class="list" style="list-style:none  ">

                <li>
                    <span></span>
                    <el-pagination id="page" [(model)]="page" (modelChange)="pageChange()" [(total)]="total"
                        [(page-size)]="pageSize" [layout]="['prev', 'pager', 'next', 'jumper',  'total']">
                    </el-pagination>
                </li>
            </ul>

        </div>
    </div>

</div>