.content {
    height:780px;
    width:1800px;
    margin-left:30px;

    label {
        font: 2em bold;
    }
}

.operator {
    margin-top: -40px;
    margin-bottom: 5px;
    width:310px;
    float:right;
}

.template {
    width:1800px;
}