// 公共颜色
$commonBlue:#4082C9; //按钮 边框 
$navBlue:#1F3254; //导航栏
$listBlue1:#DAEBFE; //列表背景色
$listBlue2:#F0F7FF; //列表背景色2
$cancleBtn:#B7B7B7; //取消按钮色
$searchColor:rgba(56, 100, 146, 0.5); //搜索框
$btnColor:#5D81BE; //按钮的边框和字体颜色
$bgColor:#F6FAFF; // 背景颜色
$fontColor:#396492;
$placeholderColor:rgba(57, 100, 146, .6);
$grayColor:#EDEDED;